{% extends '::base.html.twig' %}

{% block body %}
  <p>Enter your email address and desired password to register in the site.</p>
  <form action="{{ path('lullabot_drupal_register') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}

      <input type="submit" />
  </form>
{% endblock %}
