{% extends '::base.html.twig' %}

{% block body %}
  <ul>
    {% for recipe in recipes %}
      <li><a href="{{ path('lullabot_recipe_show', {'id': recipe.nid}) }}">{{ recipe.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
